@import './fonts.scss';

.header {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);

  &-menu {
    height: 123px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      width: 534px;
      justify-content: space-between;
      padding-right: 50.74px;
      padding-left: 60px;
    }

    &__link {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      text-align: right;
      text-transform: uppercase;
      color: #292D32;
    }
  }

  &-items {
    width: 286px;
    justify-content: space-between;

    &__el {
      position: relative;
      width: 49px;
      height: 49px;
      background: #F2F2F2;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      cursor: pointer;

      &-name {
        display: none;
        position: absolute;
        top: 50%;
        left: -61px;
        transform: translate(-50%, -50%);
        z-index: 10;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #000000;
      }

      &:first-child {
        &:hover {
          .profile {
            display: block;
          }

          .header-items__el-name {
            display: block;
          }
        }
      }

      &-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:last-child {
        &::before {
          content: "";
          position: absolute;
          background: url('../images/i4-c.svg');
          width: 16px;
          height: 16px;
          right: 0;
        }
      }
    }

    .profile {
      display: none;
      width: 405px;
      position: absolute;
      top: 100%;
      z-index: 10;
      background: #fff;
      margin-top: 37px;
      border-radius: 20px;

      &-account {
        height: 109.5px;
        align-items: center;
        border-bottom: 1px solid #F2F2F2;
        padding-left: 30px;

        &::after {
          content: "";
          position: absolute;
          border: 20px solid transparent;
          border-bottom: 20px solid #fff;
          border-radius: 2px;
          top: -40px;
          left: 50%;
          transform: translate(-50%, 0%);
        }

        &__logo {
          position: relative;
          width: 49px;
          height: 49px;
          background: #F9F9F9;
          border-radius: 50%;
        }

        &__name {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
          color: #000000;
          padding-left: 20px;
        }
      }

      &-items {
        flex-direction: column;

        li {
          padding: 20px 0;
          border-bottom: 1px solid #F2F2F2;

          &:last-child {
            border-bottom: none;
          }
        }

        &__link {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
          color: #000000;
          padding-left: 30px;
        }
      }
    }
  }
}

.burger-menu {
  display: none;
}

// ---

@media (max-width: 375px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .header {
    &-menu {
      height: 90px;
      justify-content: center;

      &__list {
        display: none;
      }
    }

    &-logo {
      padding-right: 52px;
    }

    &-search {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-items {
      width: auto;
      column-gap: 15px;
      padding-left: 15px;

      &__el {
        width: 46px;
        height: 46px;

        &:first-child {
          &:hover {
            .profile {
              display: none;
            }

            .header-items__el-name {
              display: none;
            }
          }
        }

        &.statistics,
        &.wishlist {
          display: none;
        }
      }
    }
  }

  .burger-menu {
    display: block;
  }

  .menu-btn>span,
  .menu-btn>span::before,
  .menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }

  .menu-btn>span::before {
    content: '';
    top: -8px;
  }

  .menu-btn>span::after {
    content: '';
    top: 8px;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu-item:hover {
    background-color: #CFD8DC;
  }

  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
  }

  #menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-toggle:checked~.menubox {
    visibility: visible;
    left: 0;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    width: 46px;
    height: 46px;
    cursor: pointer;
    z-index: 1;
    justify-content: center;
    background: #F2F2F2;
    border-radius: 50%;
  }

  .menu-btn>span,
  .menu-btn>span::before,
  .menu-btn>span::after {
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #292D32;
    ;
    transition-duration: .25s;
  }

  .menu-btn>span::before {
    content: '';
    top: -8px;
  }

  .menu-btn>span::after {
    content: '';
    top: 8px;
  }

  .menubox {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 12%;
    left: -100%;
    width: 100%;
    height: 390px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
    transition-duration: .25s;
    z-index: 999;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    transition-duration: .25s;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #292D32;
    padding: 15px 0 15px 0;
  }

  .menu-item:hover {
    background-color: #CFD8DC;
  }


  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
  }

  #menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-toggle:checked~.menubox {
    visibility: visible;
    left: 0;
    padding-left: 38px;
  }
}